@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}


header{
    background-color: #239e9b;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100px;
}

.logo{
    display: flex;
    gap: 10px;
   
    
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.banner1{
    background-image: url(/assets/images/descarga.webp);
    background-size: cover;
    background-position: center;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 20px;
}

.banner1 h1{
    font-size: 50px;
    width: 40%;
}
.banner1 p{
    font-size: 15px;
    width: 40%;
    margin-top: 10px;
}
.banner1 button{
    width: 160px;
    height: 50px;
    border-radius: 1em;
    background-color: #239e9b;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    margin-top: 15px;
  
}

.banner2{
    padding: 30px;
    display: flex;
    height: 750px;
  
}
.banner2 {
    width: 100%;
    height: 100%;
    background-color: #239e9b;
 
}
.sesion1-2 {
   width: 100%;
    justify-content: center;
    padding: 100px;
    
}

.sesion1-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
        
}

.sesion2-2 {
    width: 100%;
    justify-content: center;
    padding: 100px;
}

.sesion2-2 p {
    font-size: 15px;
    color: black;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

.sesion2-2 h2{
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 20px;
}
.sesion2-2 h3{
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.banner3{
    display: flex;
    background-color: white;  
}

.banner4{
    display: flex;
    background-color: white;
    padding: 30px;
    /* height: 750px; */
}

.sesion1-4{
    width: 100%;
    justify-content: center;
    padding: 160px;
}

.sesion1-4 p{
    font-size: 15px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.sesion1-4 h2{
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.sesion2-4{
    width: 100%;
    justify-content: center;
    padding: 100px;
    
}
.sesion2-4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}




.sesion1-3{
    width: 100%;
    /* justify-content: center; */
    display: grid;
    padding: 160px;
    align-items: center;
}


.sesion2-3 {
    width: 100%;
    justify-content: center;
    padding: 100px; 
}

.sesion1-3 h2{
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 20px;
}
.sesion1-3 p{
    font-size: 15px;
    color: black;
    text-align: center;
    /* margin-top: 20px;  */
}

.sesion2-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.sesion1-5{
    width: 100%;
    justify-content: center;
    padding: 40px;
}


nav {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 50px;
}

.user-actions {
    justify-content: space-around;
    gap: 20px;
}

.user-actions li {
    width: 7em;
}

li {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.login {
    background-color: white;
    color: black;
    border-radius: 1em;
}

.register {
    background-color: black;
    border-radius: 1em;
}

/*SECTION LOGIN*/

.header-login{
    border-bottom: solid 1px black;
}

.login-main{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #239e9b;
}

.loginBtn{
    margin: 10px 0;
}

img{
    background: transparent;
}

.logo-login{
    width: 180px;         /* Ajusta el tamaño según lo necesites */
    height: 180px;
    object-fit: cover;    /* Mantiene la proporción y recorta si es necesario */
    padding: 10px;
    background: transparent;
}


.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: grid;
    justify-items: center;
}

.login-container h2 {
    margin-bottom: 24px;
    color: #2bbbad;
    /* Verde menta fuerte */
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

#loginForm{
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #2bbbad;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2bbbad;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #239e9b;
}

.message {
    margin-top: 15px;
    color: #2bbbad;
    font-weight: bold;
}