@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    background-color: #f0f0f0;
    color: #333;
}

/*MODO OSCURO*/
body.dark-mode {
    background-color: #333;
    color: white;
}

body.dark-mode header {
    background-color: #333;
    color: white;
}

body.dark-mode button {
    background-color: white;
    color: black;
}

body.dark-mode .banner3 {
    background-color: #333;

    h2,
    p {
        color: white;
    }
}

body.dark-mode .banner2 {
    background-color: #239e9c4d;

    h2,
    p {
        color: white;
    }
}

body.dark-mode .banner4 {
    background-color: #333;

    h2,
    p {
        color: white;
    }
}

body.dark-mode .banner5 {
    background-color: #239e9c4d;
}

body.dark-mode .header-login {
    background-color: #333;
    color: white;
    border-bottom: solid 1px white;
}

body.dark-mode .header-register {
    background-color: #333;
    color: white;
    border-bottom: solid 1px white;
}

body.dark-mode .login-main {
    background-color: #333;
    color: white;

    button {
        background-color: #239e9b;
        color: white;
    }

    small {
        color: #333;
    }

    a {
        color: #239e9b;
    }
}

body.dark-mode .register-main {
    background-color: #333;
    color: white;

    button {
        background-color: #239e9b;
        color: white;
    }

    small {
        color: #333;
    }

    a {
        color: #239e9b;
    }
}

body.dark-mode .tituloCreat {
    color: white;
}

body.dark-mode .sidebar {
    background-color: #239e9c4d;
}

header {
    background-color: #239e9b;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100px;
}

.logo {
    display: flex;
    gap: 10px;


}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.banner1 {
    background-image: url(/assets/images/descarga.webp);
    background-size: cover;
    background-position: center;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 20px;
}

.banner1 h1 {
    font-size: 50px;
    width: 40%;
}

.banner1 p {
    font-size: 15px;
    width: 40%;
    margin-top: 10px;
}

.banner1 button {
    width: 160px;
    height: 50px;
    border-radius: 1em;
    background-color: #239e9b;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    margin-top: 15px;

}

.banner2 {
    padding: 30px;
    display: flex;
    height: 750px;

}

.banner2 {
    width: 100%;
    height: 100%;
    background-color: #239e9b;

}

.sesion1-2 {
    width: 100%;
    justify-content: center;
    padding: 100px;

}

.sesion1-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;

}

.sesion2-2 {
    width: 100%;
    justify-content: center;
    padding: 100px;
}

.sesion2-2 p {
    font-size: 15px;
    color: black;
    /* text-align: center; */
    margin-top: 20px;
    font-weight: 600;
}

.sesion2-2 h2 {
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.sesion2-2 h3 {
    font-size: 20px;
    color: black;
    /* text-align: center; */
    margin-top: 20px;
}

.banner3 {
    display: flex;
    background-color: white;
}

.banner4 {
    display: flex;
    background-color: white;
    padding: 30px;
    /* height: 750px; */
}

.sesion1-4 {
    width: 100%;
    justify-content: center;
    padding: 160px;
}

.sesion1-4 p {
    font-size: 15px;
    color: black;
    /* text-align: center; */
    margin-top: 20px;
}

.sesion1-4 h2 {
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.sesion2-4 {
    width: 100%;
    justify-content: center;
    padding: 100px;

}

.sesion2-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}




.sesion1-3 {
    width: 100%;
    /* justify-content: center; */
    display: grid;
    padding: 160px;
    align-items: center;
}


.sesion2-3 {
    width: 100%;
    justify-content: center;
    padding: 100px;
}

.sesion1-3 h2 {
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.sesion1-3 p {
    font-size: 15px;
    color: black;
    /* text-align: center; */
    /* margin-top: 20px;  */
}

.sesion2-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.sesion1-5 {
    width: 100%;
    justify-content: center;
    padding: 40px;
}


nav {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 50px;
}

.user-actions {
    justify-content: space-around;
    gap: 20px;
}

.user-actions li {
    width: 7em;
}

li {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.login {
    background-color: white;
    color: black;
    border-radius: 1em;
}

.register {
    background-color: black;
    border-radius: 1em;
}

/*SECTION LOGIN*/

.header-login {
    border-bottom: solid 1px black;
}

.login-main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #239e9b;
    padding: 1em;
}

.loginBtn {
    margin: 10px 0;
}

img {
    background: transparent;
}

.logo-login {
    width: 180px;
    height: 180px;
    object-fit: cover;
    padding: 10px;
    background: transparent;
}


.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: grid;
    justify-items: center;
}

.login-container h2 {
    margin-bottom: 24px;
    color: #2bbbad;
    /* Verde menta fuerte */
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

#loginForm {
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #2bbbad;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2bbbad;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #239e9b;
}

.message {
    margin-top: 15px;
    color: #2bbbad;
    font-weight: bold;
}

/*SECTION REGISTRO*/

.register-main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #239e9b;
    padding: 1em;
}

.register-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: grid;
    justify-items: center;
}

.register-container h2 {
    margin-bottom: 24px;
    color: #2bbbad;
}

.header-register {
    border-bottom: solid 1px black;
}


/* ************* Vista Create ************ */

#mostrarNom {

    color: #239e9b;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;

}

.tituloCreat {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    color: #333;
}

/* .tituloCreat{
    background-color: antiquewhite;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}  */
      text-align: center;
      margin-top: 20px;
      font-size: 24px;
      color: #333;
      ;
    }




/* ************ menu hamburguesa *******************/
#menu-toggle {
    display: none;
}



.menu-icon {
    cursor: pointer;
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}



.menu-icon::before {
    content: "\2630";
    font-size: 24px;
}


#menu-toggle:checked+.menu-icon::before {
    content: "\2715";
}


.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 153px;
    left: -270px;
    background-color: #239e9b;
    overflow-x: hidden;
    transition: left 0.4s;
    padding-top: 0px;
    margin-top: 0px;
    z-index: 1000;
    border-radius: 0 10px 10px 0;

}

.sidebar a {

    margin: -30px 0;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar ul {
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 1px;
}


.sidebar a:hover {
    color: #239e9b;
    background-color: white;
}


#menu-toggle:checked~.sidebar {
    left: 20px;
}

.menu-title {

    color: #239e9b;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.menu-title{
     
      color: #239e9b;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between; 
       position: relative;
}

#metaInput1{
    height: 230px;
    width: 600px;
}

#metaInput2{
    height: 230px;
    width: 600px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    gap: 10px;
}
.titulosContent{
    display: flex;
    align-items: center;
   justify-content: space-around;
    padding: 20px;
    margin-top: 20px;

}

            .content2{
                height: 200px;
                padding: 30px;
            }

            .contentTwoInfo {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
               padding: 20px;
                border-radius: 10px;   
                box-shadow: 0 4px 8px 4px  rgba(0, 0, 0, 0.3);
            }

            .infoContent2 {
                display: flex;
                align-items: center;
                width: 50%;
                justify-content: center;
            }

            .buttonCreate {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                list-style: none;
            }

            .buttonCreate button {
                width: 200px;
                height: 50px;
                border-radius: 1em;
                background-color: #239e9b;
                color: white;
                font-size: 15px;
                cursor: pointer;
                border: none;
            }

/*VISTA META DIARIA*/
.section-bg {
    padding: 20px;
    display: grid;
    justify-items: center;
    height: 90vh;
}

.goal-form {
    padding: 20px;
    border-radius: 1em;
    width: 50%;
    display: grid;
    justify-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

    h2 {
        text-align: center;
        display: flex;
        align-items: center;
    }

    ;
}

.ia-btns {
    padding: 1em 0;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    gap: 1em;

    button {
        height: 5em;
    }
}

.userGoal{
    height: 10em;
}

textarea{
    resize: none;
    width: calc(100% - 0px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    min-height: 10vh;
}