<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../assets/images/LOGOTIPO-removebg-preview.png" type="image/x-icon">
    <title>Your Goal!</title>
</head>
<body>
    <header class="encabezadoCreate">
        <a href="./vistaCreate.html">
            <div class="logo">
                <img src="../assets/images/LOGOTIPO.jpg" alt="Logo de MetaFlow">
                <h1>MetaFlow</h1>
            </div>
        </a>
        <nav class="nav-bar">
            <button id="toggle-theme">Cambiar tema</button>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="section-bg">
            <div class="goal-form">
                <h2>¿Qué meta quieres cumplir hoy?</h2>
                <input type="text" class="userGoal" placeholder="Ingresa tu meta! Ej: 'Quiero correr 2 km hoy'">
                <button onclick="sendToIa()">¡Recomiéndame!</button>
                <h3>Una pequeña recomendación ;)</h3>
                <div class="responseContainer">
                    <textarea name="ia-answer" id="ia-answer"></textarea>
                    <div class="ia-btns">
                        <button class="reload-btn">Actualizar respuesta</button>
                        <button class="add-btn">¡Añadir meta!</button>
                </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="../scripts/theme.js"></script>
</body>
</html>