<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/style.css">
    <title>Panel Usuario</title>
</head>
<body>
    <header>
        <a href="./index.html">
            <div class="logo">
                <img src="../assets/images/LOGOTIPO.jpg" alt="Logo de MetaFlow" srcset="">
                <h1>MetaFlow</h1>
            </div>
        </a>
        <nav class="nav-bar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>¡Bienvenid@ de nuevo!</h1>
            <h2>¿Qué metas tienes para hoy?</h2>
        </section>
    </main>
    <footer></footer>
</body>
</html>