<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Create</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../assets/images/LOGOTIPO-removebg-preview.png" type="image/x-icon">
    <script src="../scripts/theme.js"></script>
</head>

<body>
    <header class="encabezadoCreate">
        <a href="../index.html">
            <div class="logo">
                <img src="../assets/images/LOGOTIPO.jpg" alt="Logo de MetaFlow">
                <h1>MetaFlow</h1>
            </div>
        </a>
        <nav class="nav-bar">
            <button id="toggle-theme">Cambiar tema</button>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="user-actions">
                <a href="./templates/login.html">
                    <li class="login">Login</li>
                </a>
                <a href="./templates/register.html">
                    <li class="register">Register</li>
                </a>
            </ul>
        </nav>
    </header>

    <div class="menu-title">

        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon"></label>

        <p id="mostrarNom"></p>

        <nav class="sidebar">

            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/templates/login.html">Login</a></li>
                <li><a href="/templates/register.html">Registro</a></li>
                <li><a href="/templates/userPanel.html">User Panel</a></li>
                <li><a href="">MetaIA</a></li>
            </ul>
        </nav>

    </div>
    <h2 class="tituloCreat">¿CON QUE META QUIERES EMPEZAR HOY?</h2>

    <script src="../scripts/create.js"></script>

</body>

</html>